<!DOCTYPE html>
<html lang="zh"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>本部及网点售卡</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.11.2/css/all.css}">
    <link rel="stylesheet" th:href="@{/css/modern-business.css}">
</head>
<body>
<div th:insert="~{header :: copy}"></div>

<!--页面当前位置-->
<div class="current-position">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li>|| 您当前所在的位置: &nbsp;</li>
            <li class="breadcrumb-item"><a href="#">首页</a></li>
            <li class="breadcrumb-item active">售卡中心</a></li>
            <li class="breadcrumb-item active" aria-current="page">本部及网点售卡</li>
        </ol>
    </nav>
</div>
<!--页面当前位置结束-->

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <h5 class="query-title">售卡中心</h5><span> </span>
            <p><b>销售热线：(86-10) 85628863</b></p>
            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <p class="red"><b>本部售卡</b></p>
                    <table class="table table-bordered text-center">
                        <thead>
                        <tr class="danger">
                            <th scope="col">区域</th>
                            <th scope="col">名称</th>
                            <th scope="col">营业时间</th>
                            <th scope="col">地址</th>
                            <th scope="col">电话</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>朝阳区</td>
                            <td>凯威大厦售卡中心</td>
                            <td>周一至周五9:00-18:00</td>
                            <td>朝阳区雅宝路10号凯威大厦一层</td>
                            <td>85639680</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row marginB">
                <div class="col-lg-12 col-sm-12">
                    <p class="red"><b>网点售卡</b></p>
                    <table class="table table-bordered text-center">
                        <thead>
                        <tr class="danger">
                            <th scope="col">区域</th>
                            <th scope="col">名称</th>
                            <th scope="col">营业时间</th>
                            <th scope="col">地址</th>
                            <th scope="col">电话</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>西城区</td>
                            <td>西单商场</td>
                            <td>周一至周日10:00-21:30</td>
                            <td>西城区西单商场南楼东厅五层团购中心</td>
                            <td>66563333</td>
                        </tr>
                        <tr>
                            <td>西城区</td>
                            <td>万方西单商场</td>
                            <td>周一至周日8:30-17:00</td>
                            <td>西城区月坛南街30号万方西单商场一层售卡中心</td>
                            <td>68526965</td>
                        </tr>
                        <tr>
                            <td>朝阳区</td>
                            <td>燕莎友谊商城亮马店</td>
                            <td>周一至周日10:00-22:00</td>
                            <td>朝阳区亮马桥路52号二层团购中心</td>
                            <td>64674593</td>
                        </tr>
                        <tr>
                            <td>朝阳区</td>
                            <td>燕莎奥特莱斯购物</td>
                            <td>周一至周日10:00-22:00</td>
                            <td>朝阳区东四环南路9号A座二层团购中心</td>
                            <td>67395761</td>
                        </tr>
                        <tr>
                            <td>朝阳区</td>
                            <td>贵友大厦建国门店</td>
                            <td>周一至周日10:00-21:00</td>
                            <td>朝阳区建外大街甲5号501团购中心</td>
                            <td>65629159</td>
                        </tr>
                        <tr>
                            <td>海淀区</td>
                            <td>燕莎友谊商金源店</td>
                            <td>周一至周日10:00-20:00</td>
                            <td>海淀区远大路1号燕莎友谊商城一层团购中心</td>
                            <td>88873653</td>
                        </tr>
                        <tr>
                            <td>海淀区</td>
                            <td>贵友大厦金源店</td>
                            <td>周一至周日10:00-21:00</td>
                            <td>海淀区远大路1号贵友大厦一层团购中心</td>
                            <td>88875021</td>
                        </tr>
                        <tr>
                            <td>海淀区</td>
                            <td>金源新燕莎MALL</td>
                            <td>周一至周日10:00-20:00</td>
                            <td>海淀区远大路1号金源燕莎MALL二层团购中心</td>
                            <td>88874726</td>
                        </tr>
                        <tr>
                            <td>通州区</td>
                            <td>贵友大厦通州店</td>
                            <td>周一至周日10:00-21:00</td>
                            <td>通州区云景东路1号贵友大厦2层团购中心</td>
                            <td>59780709</td>
                        </tr>
                        <tr>
                            <td>昌平区</td>
                            <td>西单商场天通苑店</td>
                            <td>周一至周日9:00-21:00</td>
                            <td>昌平区东小口镇天通苑五区商业楼西单商城一层总服务台</td>
                            <td>84841610</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->
<div th:insert="~{footer :: copy}"></div>
<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>






















</body>
</html>
