<!DOCTYPE html>
<html lang="zh"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>法律声明</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.11.2/css/all.css}">
    <link rel="stylesheet" th:href="@{/css/modern-business.css}">
</head>
<body>
<div th:insert="~{header :: copy}"></div>

<!--页面当前位置-->
<div class="current-position">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li>|| 您当前所在的位置: &nbsp;</li>
            <li class="breadcrumb-item"><a href="#">首页</a></li>
            <li class="breadcrumb-item active">相关信息</a></li>
            <li class="breadcrumb-item active" aria-current="page">法律声明</li>
        </ol>
    </nav>
</div>
<!--页面当前位置结束-->

<!-- Page Content -->
<div class="container agreement-box">

    <!-- 法律声明 start-->
    <div class="text-center">
        <h5>法律声明</h5>
    </div>
    <div class="agreement-box">
        <p>
            本网站由北京首采联合电子商务有限责任公司（简称“首采联合”）运行，网站的全部权利属于首采联合并为首采联合所保留。
        </p>
        <p>
            本网站以现状如实提供给用户，对于因提供的信息而引发的后果并无担保和继承，也不承担任何法律上的责任。
        </p>
        <p>
            通过本网站发布的产品信息和其它信息都源于首采联合的最佳认知。然而，这些信息并不构成首采联合任何法律上的承诺或陈述，用户也不应根据本网站提供的信息放弃调查和检验。
        </p>
        <p>
            首采联合通常将依照相应法律，对于应用本网站所产生的任何间接的、偶然的、连锁的以及非常规的损失，首采联合不承担任何责任。
        </p>

        <p>
            首采联合对网站并不承担任何义务，首采联合可能在任何时刻不进行通告而对网站的全部或部分内容进行修改或中止，并没有责任对网站进行更新。
        </p>
        <p>
            到第三方网站的链接（"超链接"）并不构成首采联合对该第三方网站的保证，首采联合对于这些网站及其内容的有效性不负有责任。访问这些网站的超链接的风险由用户承担。
         </p>
        <p>
            所有关于本网站的声明、诉讼或应用均应当遵守中国的法律并遵循相关的法律解释。
        </p>
        <!-- 法律声明 end-->
    </div>
</div>
<!-- /.container -->
<div th:insert="~{footer :: copy}"></div>
<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>

</body>
</html>