<!DOCTYPE html>
<html lang="zh"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>购卡协议</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.11.2/css/all.css}">
    <link rel="stylesheet" th:href="@{/css/modern-business.css}">
</head>
<body>
<div th:insert="~{header :: copy}"></div>

<!--页面当前位置-->
<div class="current-position">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li>|| 您当前所在的位置: &nbsp;</li>
            <li class="breadcrumb-item"><a href="#">首页</a></li>
            <li class="breadcrumb-item active">公司业务</a></li>
            <li class="breadcrumb-item active" aria-current="page">购卡协议</li>
        </ol>
    </nav>
</div>
<!--页面当前位置结束-->

<!-- Page Content -->
<div class="container agreement-box">

    <!-- 购卡协议 start-->
    <div class="text-center">
        <h5>购卡协议</h5>
    </div>
    <div class="agreement-box">
        <h6>第一章 购买</h6>
        <p>
            第一条 具有完全民事行为能力的购买人，均可向发行机构购买首付通商旅卡。
        </p>
        <p>
            第二条 支持现金、支票、刷卡、网银等多种支付方式（单位一次性购卡金额达5000元（含）以上或个人一次性购卡金额达5万元（含）以上的，不能使用现金）；款项到账后开通。只有激活的卡片才能进行消费。
        </p>

        <h6>第二章 使用及有效期</h6>

        <p>
            第三条 持卡人可凭首付通商旅卡在特约商户（包括网上特约商户）进行交易，使用范围以首付通商旅卡网站上的最新信息及特约商户的店内明示为准，交易以联机或脱机方式完成，并即时扣除预付价值。发卡机构有权调整特约商户及在特约商户内的使用范围。
        </p>
        <p>
            第四条 凡使用密码进行的交易，均视为购买人本人所为；基于持卡人联机交易打印的凭证和/或凭首付通商旅卡磁条、芯片卡号或密码等电子数据而办理的各项交易所产生的信息记录之一或全部均属于该项交易的有效凭据。
        </p>

        <h6>第三章 收费</h6>

        <p>
            第五条 购买首付通商旅卡须支付所购买预付价值货币金额2%，最低10元/卡的手续费，发行机构须出具服务费发票。发行机构有权变更上述收费的比例和金额，但应在售卡时向购买人明示。
        </p>
        <p>
            第六条 首付通商旅卡换卡补卡，磁条卡须交纳工本费10元/卡，芯片卡须交纳工本费20元/卡。
        </p>
        <p>
            第七条 不记名首付通商旅卡有效期届满30天内，可免费办理一次延期，从办理之日起延期90天，期满后卡片每月按照卡内余额的3%(最低2元)收取账户管理费并自动延期30天，从卡内余额中直接扣除。在有效期届满30天内未作延期的，有效期满30天后每月按照卡内余额的3%(最低2元)收取资金管理费，从卡内余额中直接扣除。
        </p>
        <p>
            第八条 对连续3年未发生消费交易的记名首付通商旅卡，发行机构将该卡作为不动卡单独管理，每月按转为不动卡当日余额的1%（最低2元）收取不动卡账户管理费，从卡内余额中直接扣除。不动卡重新发生交易次月，发行机构停止收取该卡本期的不动卡账户管理费。
        </p>
        <!-- 购卡协议 end-->
    </div>
</div>
<!-- /.container -->
<div th:insert="~{footer :: copy}"></div>
<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>

</body>
</html>