<!DOCTYPE html>
<html lang="zh"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>贵友卡介绍</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.11.2/css/all.css}">
    <link rel="stylesheet" th:href="@{/css/modern-business.css}">
</head>
<body>
<!--<div th:insert="~{header :: copy}"></div>-->

<!--页面当前位置-->
<div class="current-position">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li>|| 您当前所在的位置: &nbsp;</li>
            <li class="breadcrumb-item"><a href="#">首页</a></li>
            <li class="breadcrumb-item active">自发卡查询</a></li>
            <li class="breadcrumb-item active" aria-current="page">贵友卡介绍</li>
        </ol>
    </nav>
</div>
<!--页面当前位置结束-->

<!-- Page Content -->
<div class="container">
    <!--美点卡业务介绍 start-->
    <div class="row spontaneous-card">
        <div class="col-lg-7 col-sm-7">
            <h5>贵友卡介绍</h5><span> </span>
            <p style="margin-bottom: 0;">
                京贵友大厦有限公司隶属首商集团旗下，成立于1990年9月26日，是一家集购物、餐饮、休闲为一体的零售企业。迄今为止，拥有建国门店、金源店和通州店三家分店。贵友大厦始终将“诚信”作为企业生存与发展的根本，坚持主题经营战略，突出时尚特色，以“时尚?精品”的形象享誉京城。
            </p>
            <p>
                贵友大厦目前主要经营黄金珠宝、男女服装、皮鞋皮具、儿童玩具、家居用品等，荟萃了国内外众多名牌商品。公司以白领女性和周边社区居民为主要消费客群，坚持以国际现代化商厦为标准，用“品位、品质、品牌”构建的时尚理念不断打造具有现代经营意识和文化内涵的“都市时尚主题百货店”的崭新形象，用独具特色的商品和服务组合体现社会主流的生活方式，引导消费观念，引领消费者“体验时尚、享受生活”。
            </p>
        </div>
        <div class="col-lg-5 col-sm-5">
            <img th:src="@{/images/card.png}" width="100%" >
        </div>
    </div>
    <!--美点卡业务介绍 end-->

    <div class="text-box card-address">
        <h6>金源店：</h6>
        <p>营业时间：周一至周四：10:00—21:00   周五至周日：10:00—22:00   联系电话：88875051</p>
        <h6>建国门店：</h6>
        <p>营业时间：10：00—21:00  联系电话：65629175</p>
        <h6>通州店：</h6>
        <p>营业时间：10：00—21:00  联系电话：59780789</p>
    </div>
</div>
<!-- /.container -->
<div th:insert="~{footer :: copy}"></div>
<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>

</body>
</html>