<!DOCTYPE html>
<html lang="zh"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>互联网支付介绍</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.11.2/css/all.css}">
    <link rel="stylesheet" th:href="@{/css/modern-business.css}">
</head>
<body>
<!--<div th:insert="~{header :: copy}"></div>-->

<!--页面当前位置-->
<div class="current-position">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li>|| 您当前所在的位置: &nbsp;</li>
            <li class="breadcrumb-item"><a href="#">首页</a></li>
            <li class="breadcrumb-item active">公司业务</a></li>
            <li class="breadcrumb-item active" aria-current="page">互联网支付介绍</li>
        </ol>
    </nav>
</div>
<!--页面当前位置结束-->

<!-- Page Content -->
<div class="container">
    <!--互联网支付解决方案-->
    <div class="row spontaneous-card">
        <div class="col-lg-7 col-sm-7">
            <h5>互联网支付解决方案</h5><span> </span>
            <p style="margin-bottom: 0;">
                为从事电子商务的企业或个人提供安全、快捷、稳定的支付服务。
            </p>
            <p style="margin-top: 0;">
                随着近年来全球电子商务热潮的到来，网络应用已进入多元化时代，互联网网络支付给我们的生活带来无尽的便利。首付通互联网支付从产品的研发到各部门重重把关、环环相扣来确保用户在线支付的安全。首付通推出的基于银行卡在线支付的独立第三方电子支付系统，通过整合银行支付接口，从而支持国内多家银行卡在线支付，为从事电子商务的企业或个人提供安全、快捷、稳定的支付服务。
            </p>
        </div>
        <div class="col-lg-5 col-sm-5">
            <img th:src="@{/images/Internet.png}" >
        </div>
    </div>
    <!--首互联网支付解决方案结束-->

    <div class="Plan-advantage-box text-center">
        <img th:src="@{/images/needs.png}" >
    </div>

    <div class="row marginT">
        <div class="col-lg-12 col-sm-12 spontaneous-card">
            <h5>商户接入流程</h5><span> </span>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <img th:src="@{/images/process.png}" width="100%">
        </div>
    </div>





</div>
<!-- /.container -->
<div th:insert="~{footer :: copy}"></div>
<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>

</body>
</html>