<!DOCTYPE html>
<html lang="zh"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>企业文化</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.11.2/css/all.css}">
    <link rel="stylesheet" th:href="@{/css/modern-business.css}">
</head>
<body>
<div th:insert="~{header :: copy}"></div>

<!--页面当前位置-->
<div class="current-position">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li>|| 您当前所在的位置: &nbsp;</li>
            <li class="breadcrumb-item"><a href="#">首页</a></li>
            <li class="breadcrumb-item active">关于我们</a></li>
            <li class="breadcrumb-item active" aria-current="page">企业文化</li>
        </ol>
    </nav>
</div>
<!--页面当前位置结束-->

<!-- Page Content -->
<div class="container about-box">
    <h5>企业文化</h5>
    <div class="text-center">
        <h6>为客户提升服务价值</h6>
        <p>
            致力于向客户提供尊享的服务，创造管理专业化经营。
        </p>
        <h6>帮助员工实现价值</h6>
        <p>
            打造企业品牌，为员工创造良好的发展空间，
        </p>
        <p>
            让员工在为客户服务以及提升公司价值的同时实现自己的价值。
        </p>
        <p>
            打造创新性、服务型、绿色环保型企业。
        </p>
    </div>
</div>
<!-- /.container -->
<div th:insert="~{footer :: copy}"></div>
<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>

</body>
</html>