<!DOCTYPE html>
<html lang="zh"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首付通卡业务介绍</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.11.2/css/all.css}">
    <link rel="stylesheet" th:href="@{/css/modern-business.css}">
</head>
<body>
<div th:insert="~{header :: copy}"></div>

<!--页面当前位置-->
<div class="current-position">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li>|| 您当前所在的位置: &nbsp;</li>
            <li class="breadcrumb-item"><a href="#">首页</a></li>
            <li class="breadcrumb-item active">公司业务</a></li>
            <li class="breadcrumb-item active" aria-current="page">自发卡业务介绍</li>
        </ol>
    </nav>
</div>
<!--页面当前位置结束-->

<!-- Page Content -->
<div class="container">
    <!--首付通卡业务解决方案-->
    <div class="row spontaneous-card">
        <div class="col-lg-7 col-sm-7">
            <h5>首付通卡业务介绍</h5><span> </span>
            <p style="margin-bottom: 0;">
                您是否还为商务福利发放、商务礼品选送的众口难调而烦恼。首付通预付卡将根据您的需求，
                为您提供节庆商务福利、礼到面子到的完美方案！首付通预付卡集京城高端商品品牌，范围覆盖
                到商场、餐饮、酒店、旅游、娱乐、汽车服务等数百家精选商户，满足日常生活所需。
            </p>
            <p style="margin-top: 0;">
                首付通预付卡以市场为导向，了解每一位企事业管理者发福利及送礼所需，同样了解每一位获赠者
                的真实心态。凭借预付卡行业多年专业实力和丰富经验，首付通始终坚持为您提供时尚高质量的福利
                解决方案和外部激励方案。首付通预付卡自开发、设计到问世，都基于您对选择的需求更广泛、更实惠、更
                方便，更能体现企业对员工的关爱，更能恰当地赠予外部客户、强化战略伙伴关系。我们的服务将于您的需求同步。
            </p>
        </div>
        <div class="col-lg-5 col-sm-5">
            <img th:src="@{/images/travel-card.png}" >
        </div>
    </div>
    <!--首付通卡业务解决方案结束-->

    <div class="Plan-advantage-box marginB">
        <h5>商务服务解决方案优势</h5><span> </span>
        <img th:src="@{/images/enterprise.png}" >
    </div>



</div>
<!-- /.container -->
<div th:insert="~{footer :: copy}"></div>
<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>

</body>
</html>