<!DOCTYPE html>
<html lang="zh"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>西单卡介绍</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.11.2/css/all.css}">
    <link rel="stylesheet" th:href="@{/css/modern-business.css}">
</head>
<body>
<!--<div th:insert="~{header :: copy}"></div>-->

<!--页面当前位置-->
<div class="current-position">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li>|| 您当前所在的位置: &nbsp;</li>
            <li class="breadcrumb-item"><a href="#">首页</a></li>
            <li class="breadcrumb-item active">自发卡查询</a></li>
            <li class="breadcrumb-item active" aria-current="page">西单卡介绍</li>
        </ol>
    </nav>
</div>
<!--页面当前位置结束-->

<!-- Page Content -->
<div class="container">
    <!--美点卡业务介绍 start-->
    <div class="row spontaneous-card marginB">
        <div class="col-lg-7 col-sm-7">
            <h5>西单卡介绍</h5><span> </span>
            <p style="margin-bottom: 0;">
                西单商场始建于1930年，是一家具有悠久历史、享誉京城、闻名全国的老字号企业，多年来始终以“诚实、务实、求实”的企业精神和“传承民族商业文化、引领大众时尚生活”的企业使命不断创新和发展，先后在本市及外埠发展了7家门店，形成了立足北京、辐射全国的发展格局。
             </p>
            <p>
                本着顾客第一、信誉第一、质量第一、服务第一的经营方针，西单商场赢得了广大消费者和社会各界的信赖和厚爱，先后获得“中国商业名牌企业”、“中国商业服务名牌”、“全国百家最大零售商店”等称号。
            </p>
        </div>
        <div class="col-lg-5 col-sm-5">
            <img th:src="@{/images/20140606132039558.jpg}" >
        </div>
    </div>
    <!--美点卡业务介绍 end-->

    <div class="text-box card-address">
        <div class="row">
            <div class="col-lg-6 col-sm-6">
                <h6>西单店：</h6>
                <p>营业时间：9:30—21:30  联系电话：66565588</p>
            </div>
            <div class="col-lg-6 col-sm-6">
                <h6>天通苑店：</h6>
                <p>营业时间：9:30—21:30  联系电话：84841610</p>
            </div>
            <div class="col-lg-6 col-sm-6">
                <h6>万方店：</h6>
                <p>营业时间：9:30—21:30  联系电话：68596118</p>
            </div>
            <div class="col-lg-6 col-sm-6">
                <h6>皂君庙法雅体育运动工厂店：</h6>
                <p>营业时间：9:30—21:30  联系电话：62128208</p>
            </div>
            <div class="col-lg-6 col-sm-6">
                <h6>棕榈泉法雅体育运动工厂店：</h6>
                <p>营业时间：9:30—21:30  联系电话：65397490</p>
            </div>
            <div class="col-lg-6 col-sm-6">
                <h6>友谊商店：</h6>
                <p>营业时间：9:30—21:30  联系电话：65003311</p>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->
<div th:insert="~{footer :: copy}"></div>
<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>

</body>
</html>