<!DOCTYPE html>
<html lang="zh"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>预付费卡受理介绍</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.11.2/css/all.css}">
    <link rel="stylesheet" th:href="@{/css/modern-business.css}">
</head>
<body>
<div th:insert="~{header :: copy}"></div>

<!--页面当前位置-->
<div class="current-position">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li>|| 您当前所在的位置: &nbsp;</li>
            <li class="breadcrumb-item"><a href="#">首页</a></li>
            <li class="breadcrumb-item active">公司业务</a></li>
            <li class="breadcrumb-item active" aria-current="page">预付费卡受理介绍</li>
        </ol>
    </nav>
</div>
<!--页面当前位置结束-->

<!-- Page Content -->
<div class="container">

    <!-- 预付费卡受理介绍 -->
    <div class="row spontaneous-card">
        <div class="col-lg-7 col-sm-7">
            <h5>预付卡受理业务解决方案</h5><span> </span>
            <p style="margin-bottom: 0;">
                首付通致力于为各行业提供优质的综合电子支付服务及金融增值服务,以安全、边界、定制化服务于商业领域。
            </p>
            <p style="margin-top: 0;">
                首付通预付费卡受理系统分别为商户（商业、餐饮、酒店、汽车、旅游景区和娱乐）和各预付卡发行机构提供统一的受理平台，通过统一的受理机具、统一的风控体系、统一的结算流程、统一的对账服务为客户带来安全、快捷、方便、稳定的预付费卡受理服务。
            </p>
        </div>
        <div class="col-lg-5 col-sm-5">
            <img th:src="@{/images/expect.png}" >
        </div>
    </div>

    <div class="row spontaneous-card marginT">
        <div class="col-lg-12 col-sm-12">
            <h5>服务内容</h5> <span> </span>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-7 col-sm-7">
            <p style="margin: 30px 0">
                方便消费者的购物消费结算，保证大额采购的便利性，增加商户营业额<br/>
                减少商户清算现金、交存银行等环节，增加资金周转速度<br/>
                有效规避假币和现金管理安全风险<br/>
                增加商户在银行的现金流水量，有益于商户贷款需求及时被银行满足<br/>
                吸引预付卡消费者，提高企业销售收入<br/>
                提升商户品味和形象，在激烈的市场竞争中树立优势<br/>
            </p>
        </div>
        <div class="col-lg-5 col-sm-5">
             <img th:src="@{/images/services.png}" width="70%">
        </div>
    </div>

    <div class="row marginT">
        <div class="col-lg-12 col-sm-12 spontaneous-card">
            <h5>解决方案</h5><span> </span>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <img th:src="@{/images/solution.png}" width="100%">
        </div>
    </div>

    <div class="content-title">
        <p>
            成功案例
        </p>
        <p>SUCCESSFUL CASES</p>
    </div>

    <div class="row text-center cases-list marginB">
        <div class="col-lg-3 col-sm-6">
            <img th:src="@{/images/one.jpg}">
            <p>燕莎友谊商城</p>
        </div>

        <div class="col-lg-3 col-sm-6">
            <img th:src="@{/images/two.jpg}">
            <p>贵友大厦</p>
        </div>

        <div class="col-lg-3 col-sm-6">
            <img th:src="@{/images/three.jpg}">
            <p>首汽集团</p>
        </div>

        <div class="col-lg-3 col-sm-6">
            <img th:src="@{/images/four.jpg}">
            <p>德聚全</p>
        </div>
    </div>


    <div class="text-box marginT">
        <p><b>接入发卡机构</b></p>
        <p>
            首付通卡、中欣银宝通卡、世通卡、TPC电子旅游护照、奥斯卡、得仕卡、连心卡、
            瑞通卡、润京卡、智慧卡、易世通卡、万能消费卡、日月卡、高汇通商联卡等。
        </p>
    </div>
    <!-- 预付费卡受理介绍 -->
</div>
    <!-- /.container -->
    <div th:insert="~{footer :: copy}"></div>
    <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>

</body>
</html>