<!DOCTYPE html>
<html lang="zh"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>预付费卡购卡章程</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.11.2/css/all.css}">
    <link rel="stylesheet" th:href="@{/css/modern-business.css}">
</head>
<body>
<div th:insert="~{header :: copy}"></div>

<!--页面当前位置-->
<div class="current-position">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li>|| 您当前所在的位置: &nbsp;</li>
            <li class="breadcrumb-item"><a href="#">首页</a></li>
            <li class="breadcrumb-item active">公司业务</a></li>
            <li class="breadcrumb-item active" aria-current="page">预付费卡购卡章程</li>
        </ol>
    </nav>
</div>
<!--页面当前位置结束-->

<!-- Page Content -->
<div class="container agreement-box">

    <!--   start-->
    <div class="text-center">
        <h5>预付费卡购卡章程</h5>
    </div>
    <div class="agreement-box no-bottom">
        <h6>第一章 总则</h6>
        <p>
            第一条 为了适应电子支付业务的发展，为社会各界提供全面优质的服务，根据国家法律、法规等规章制度以及行业惯例，特制定本章程。
        </p>
        <p>
            第二条
            首付通卡是北京首采联合电子商务有限责任公司（以下简称发行机构）发行，购买人交付一定货币资金购买的，在电子介质上存储了预付价值的支付凭证，分为不记名与记名两种。单张记名预付卡资金限额不超过5000元人民币，单张不记名预付卡资金限额不超过1000元人民币。
        </p>
        <p>
            第三条 首付通卡面向个人及单位发行，存储介质包括磁条卡、IC芯片卡以及其他电子存储方式
        </p>
        <p>
            第四条 发行机构、购买人、特约商户及其他当事人均须遵守本章程。

        </p>
        <p>
            第五条 本章程涉及的部分名词遵从如下定义：

        </p>
        <p>
            “购买人”是指使用货币资金购买首付通卡用于支付的单位和个人。

        </p>
        <p>
            “特约商户”是指与发行机构约定，接受首付通卡进行交易的单位。
        </p>

        <h6>第二章 购买</h6>

        <p>
            第六条 凡自愿遵守本章程，具有完全民事行为能力的购买人，均可向发行机构购买首付通卡。
        </p>
        <p>
            我司发行的预付卡对于个人或单位购买记名预付卡或一次性购买不记名预付卡 1 万元以上的，应当使用实名并提供有效身份证件。
        </p>
        <p>
            使用实名购买我司发行的预付卡时，需登记购卡人详细资料：
        </p>
        <p>
            1）个人客户：姓名、性别、职业、国籍、联系方式、地址、有效证件类型、证件号码、证件有效期。
        </p>
        <p>
            2）企业客户：客户名称、证照类型、证照名称、证照号码、证照有效期、社会统一信用代码或组织机构代码、经营范围、地址、法定代表人及授权人名称、证件种类、证件号码、证件有效期、联系电话、地址。
        </p>
        <p>
            第七条
            支持现金、支票、刷卡、网银等多种支付方式（单位一次性购卡金额达5000元（含）以上或个人一次性购卡金额达5万元（含）以上的，不能使用现金，购卡人不得使用信用卡购买预付卡。）；款项到账后开通。只有激活的卡片才能进行消费。
        </p>

        <h6>第三章 使用及有效期</h6>

        <p>
            第八条
            持卡人可凭首付通卡在特约商户进行交易，使用范围以首付通卡网站上的最新信息及特约商户的店内明示为准，交易以联机或脱机方式完成，并即时扣除预付价值。发卡机构有权调整特约商户及在特约商户内的使用范围。特约商户向持卡人办理退货，只能通过发卡机构将资金退回至原预付卡。无法退回的，我司将资金退回至持卡人提供的同一发卡机构的同类预付卡。预付卡接受退货后的卡内资金余额不得超过规定限额。
        </p>
        <p>
            第九条 凡使用密码进行的交易，均视为购买人本人所为；基于持卡人联机交易打印的凭证和/或凭首付通卡磁条、芯片卡号或密码等电子数据而办理的各项交易所产生的信息记录之一或全部均属于该项交易的有效凭据。
        </p>
        <p>
            第十条 首付通卡不可以兑换现金。
        </p>
        <p>
            第十一条 不记名首付通卡不记名、不挂失、不可充值；记名首付通卡可到售卡点充值，如遗失，可通过客服或者到售卡服务中心凭有效证件进行挂失，补卡时需办卡人本人持有效的身份证件办理。
        </p>
        <P>
            第十二条 购买人的首付通卡毁损无法交易的，应当凭有效身份证件、首付通卡在发行机构指定场所办理更换，并交纳换卡工本费。
        </P>
        <P>
            第十三条
            不记名首付通卡有效期为3年，卡片到期停卡，办理延期后方可使用。有效期届满30天内，可持卡免费办理一次延期，从办理之日起延期90天，再次期满后将按本章程第十七条之规定收取账户管理费。在有效期届满30天内未作延期的，有效期满30天后将按本章程第十七条之规定收取账户管理费。
        </P>
        <P>
            第十四条
            记名首付通卡有效期为长期。对连续3年未发生消费交易的记名卡，发行机构将该卡作为不动卡单独管理，并按本章程第十八条之规定收取不动卡账户管理费。不动卡重新发生交易次月，发行机构停止收取该卡本期的不动卡账户管理费。
        </P>
        <H6>
            第四章 收费
        </H6>
        <P>
            第十五条 购买首付通卡须支付所购买预付价值货币金额2%，最低10元/卡的手续费，发行机构须出具服务费发票。发行机构有权变更上述收费的比例和金额，但应在售卡时向购买人明示。
        </P>
        <P>
            第十六条 首付通卡换卡补卡，磁条卡须交纳工本费10元/卡，芯片卡须交纳工本费20元/卡。
        </P>
        <P>
            第十七条
            不记名首付通卡有效期届满30天内，可免费办理一次延期，从办理之日起延期90天，期满后卡片每月按照卡内余额的3%(最低2元)收取账户管理费并自动延期30天，从卡内余额中直接扣除。在有效期届满30天内未作延期的，有效期满30天后每月按照卡内余额的3%(最低2元)收取资金管理费，从卡内余额中直接扣除。
        </P>
        <P>
            第十八条
            对连续3年未发生消费交易的记名首付通卡，发行机构将该卡作为不动卡单独管理，每月按转为不动卡当日余额的1%（最低2元）收取不动卡账户管理费，从卡内余额中直接扣除。不动卡重新发生交易次月，发行机构停止收取该卡本期的不动卡账户管理费。
        </P>
        <P>
            第十九条 如果因持卡人原因要求记名卡退卡，持卡人应当出示预付卡及持卡人和购卡人的有效身份证件，应交回原开据的发票，发行机构在扣除已消费金额后返还余额，并同时收取余额30%的手续费。
        </P>
        <P>
            第二十条 如果因发行机构原因要赎回卡片，发行机构应扣除已消费金额后向持卡人返还余额，不收取任何费用。
        </P>
        <P>
            第二十一条 如果因政策原因发行机构需要清退，发行机构应扣除已消费金额后向持卡人返还余额，并可根据国家相关政策法规之规定收取一定手续费。
        </P>
        <H6>
            第五章 当事人权利义务
        </H6>
        <P>
            第二十二条 发行机构的权利
        </P>
        <P>
            一）发行机构，有权要求购买人按规定提供个人、单位的身份信息及证明文件。
        </P>
        <P>
            （二）对于违反本章程使用首付通卡的，发行机构有权暂停该首付通卡的使用。
        </P>
        <P>
            （三）发行机构为购买人提供的各种免费增值服务，发行机构有单方终止的权利，且无须事先征得购买人同意。
        </P>
        <P>
            （四）因供电、通讯、系统故障等原因导致持卡人使用首付通卡受阻的，发行机构可以为协助持卡人解决问题提供必要的帮助，但不承担因此可能给持卡人造成的损失。
        </P>
        <P>
            第二十三条 发行机构的义务
        </P>
        <P>
            （一）发行机构应当书面或通过首付通卡网站等提供首付通卡使用的有关资料，包括章程、领用合约、使用说明、收费项目及标准等。
        </P>
        <P>
            （二）发行机构应当按约定通过有关渠道为持卡人提供服务，包括但不限于电话服务。
        </P>
        <P>
            （三）发行机构应依法对购买人的信息承担保密义务，未经当事人同意不得向任何单位或个人披露，但法律、法规和规章另有规定，或购买人与发行机构另有约定的除外。
        </P>
        <P>
            第二十四条 购买人的权利
        </P>
        <p>
            （一）购买人享有按规定使用首付通卡的权利。
        </p>
        <p>
            （二）购买人有权知悉首付通卡的功能、使用方法、收费项目及标准。
        </p>
        <p>
            （三）购买人对首付通卡交易有疑问的，有权在规定时间内向发行机构提出查询或更正要求。
        </p>
        <p>
            （四）购买人对发行机构未按章程提供服务的行为，有权向发行机构或有关主管机关进行投诉。

        </P>
        <p>
            第二十五条 购买人的义务
        </p>
        <p>
            （一）如购买记名制首付通卡或国家政策要求的其他情形，购买人应当向发行机构提供真实有效的身份信息及证明文件，不得冒用他人身份或使用伪造、变造身份证明文件。
        </p>
        <p>
            （二）购买人未妥善保管首付通卡，导致首付通卡遗失、灭失的，应当自行承担经济损失，记名制首付通卡在挂失后发生的损失，由发行机构承担。
        </p>
        <p></p>
        （三）购买人对首付通卡、密码或密钥保管不善，导致他人冒用首付通卡造成的经济损失，应当自行承担。
        </p>
        <p>
            （四）购买人不得在发行机构指定场所以外的其他场所使用电子货币。购买人未按约定进行交易造成经济损失的，应当自行承担。
        </P>
        <h6>
            第六章 附则
        </h6>
        <P>
            第二十六条 本章程未尽事宜按照国家有关法律、法规、规章及行业惯例执行，如发行机构与购买人另有约定的，遵从双方约定。

        </P>
        <P>
            第二十七条 发行机构有权对本章程进行修订。

        </P>
        <P>
            第二十八条 本章程自发布之日起正式实施。
        </P>


        <!--   end-->
    </div>
</div>
<!-- /.container -->
<div th:insert="~{footer :: copy}"></div>
<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>

</body>
</html>