<!DOCTYPE html>
<html lang="zh"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>招贤纳士</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.11.2/css/all.css}">
    <link rel="stylesheet" th:href="@{/css/modern-business.css}">
</head>
<body>
<div th:insert="~{header :: copy}"></div>

<!--页面当前位置-->
<div class="current-position">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li>|| 您当前所在的位置: &nbsp;</li>
            <li class="breadcrumb-item"><a href="#">首页</a></li>
            <li class="breadcrumb-item active">相关信息</a></li>
            <li class="breadcrumb-item active" aria-current="page">招贤纳士</li>
        </ol>
    </nav>
</div>
<!--页面当前位置结束-->

<!-- Page Content -->
<div class="container">

    <!--   start-->
    <div class="text-center">
        <h5>招贤纳士</h5>
    </div>
    <div class="agreement-box no-bottom">
        <p>
            人力资源部联系专线：(86-10) 85626363-681
        </p>
        <p>
            网址：www.shouft.com
         </p>
        <p class="special-red">
            北京首采联合电子商务有限公司
        </p>
        <p>
            【招聘岗位：行政人力专员（1人）】

        </p>
        <p>
            岗位职责：
        </p>
        <p>
            1、协助办公室主任完成相关文案撰写、报送工作；
        </p>
        <p>
            2、协助办公室、工会组织相关活动；
        </p>
        <p>
            3、日常、系统文件的收取、传达、回复；
        </p>
        <p>
            4、人力一般性工作（包括报表、统计、社保缴纳、住房提取等）；
        </p>
        <p>
            5、参与、协助组织公司活动、会议并进行记录；
        </p>
        <p>
            6、协助办公室主任管理公司固定资产；

         </p>
        <p>
            7、临时安排的外勤工作；
        </p>
        <p style="padding-bottom: 10px">
            8、完成领导安排的其他工作。
        </p>
        <p>
            任职要求：
         </p>
        <p>
            1、大学本科以上学历，行政管理、人力资源管理专业优先；
        </p>
        <p>
            2、应届毕业生亦可，具有相关工作经验1-2年者优先；
        </p>
        <P>
            3、富有责任心，学习能力强，工作细致，观察、语言能力强；
        </P>
        <P style="padding-bottom: 10px">
            4、能独立驾车，驾龄2年以上。
        </P>
        <P>
            【招聘岗位：互联网支付产品经理（2人）】
        </P>
        <H6>
            岗位职责：
        </H6>
        <P>
            1、负责公司互联网支付产品的规划和设计，包括前期的需求调研、分析需求并制定产品计划、产品原型设计，负责项目的执行和效果评估以及后续改进工作；
         </P>
        <P>
            2、完成基本的用户研究、产品概念定义、原型规划，输出PRD及产品原型；
        </P>
        <P>
            3、负责项目组跨部门之间的协调沟通，确保项目需求按质按量上线，并跟进后续运营工作的进行；
        </P>
        <P style="padding-bottom: 10px">
            4、定期关注业界动态，对于产品各项功能的反馈，能提出建设性的创新项目提案，不断提高用户体验和运营效率。
        </P>
        <P>
            任职要求：
        </P>
        <P>
            1、本科及以上学历，3年以上互联网支付产品经理经验；
        </P>
        <P>
            2、熟练Axure、visio等工具软件，能独立完成Demo制作；
        </P>
        <p>
            3、有从事金融、银行、基金或网上支付产品的工作经验，包括产品设计、开发管理的工作经验；
        </p>
        <P>
            4、具备业务分析，产品设计、产品运营等知识和技能；
        </P>
        <P>
            5、计划性和执行能力较强；
        </P>
        <P>
            6、协调沟通能力强，在进行产品策划过程中，能指导或配合同事共同完成策划项目；
        </P>
        <P>
            7、强烈的责任心，优秀的团队合作意识；
        </P>
        <P style="padding-bottom: 10px">
            8、对互联网支付业务熟悉。
        </P>
        <P>
            【招聘岗位：跨境支付产品经理（1人）】
        </P>
        <P>
            岗位职责：
        </P>
        <P>
            1、负责规划跨境支付产品需求分析、产品设计，并持续优化产品功能，提升产品价值；
        </P>
        <P>
            2、负责撰写产品流程设计文档、产品说明文档、产品开发需求规格说明书及其他相关业务文档；
        </P>
        <P>
            3、负责系统框架设计和体系结构优化，负责项目技术方案的讨论、制定和审核，保障方案的合理性和完整性；
        </P>
        <p>
            4、负责进行内外部需求及问题收集，并推进持续优化；
        </p>
        <p>
            5、负责相关产品上线及发布并与硬件厂商沟通等相关工作；
        </p>
        <P style="padding-bottom: 10px">
            6、跟踪竞争对手产品策略、市场现状，进行竞品分析，并提出应对解决方案。
        </p>
        <p>
            任职要求：
        </P>
        <p>
            1、本科以上学历，在银行、第三方支付公司有智能收银台/智能POS机的实际产品设计及项目实施经验；
        </p>
        <p>
            2、熟悉银行/第三方支付/线上互联网支付业务产品及系统架构，熟悉各类互联网支付的各类行业规范；
        </p>
        <p>
            3、具备优秀的软件需求分析和设计能力；
        </p>
        <p>
            4、熟悉研发知识体系，有丰富的产品设计经验，对用户体验有良好的感知；
        </p>
        <P style="padding-bottom: 10px">
             5、具备极强的逻辑思维能力，市场分析能力优秀的团队协作能力及抗压能力。
        </P>
        <P>
            【招聘岗位：高级研发工程师（6人）】
        </P>
        <P>
            岗位职责：
        </P>
        <P>
            1、负责开发维护支付系统，并规划功能和扩容，保持稳定及承载对应业务量；
        </P>
        <p>
            2、根据开发流程进行设计，开发，测试，交付以满足需求；
        </p>
        <P style="padding-bottom: 10px">
            3、按要求提交软件开发和测试过程中的标准化文档和操作手册，并负责对接的更新和升级。
        </p>
        <p>
            任职要求：
        </p>
        <p>
            1、计算机相关专业本科及以上学历，五年以上Java开发工作经验；
        </p>
        <p>
            2、熟悉Java领域常用的开源框架，如Spring、Struts、Ibatis、Hibernate等；
        </p>
        <p>
            3、熟悉面向对象编程思想和设计模式；
        </p>
        <p>
            4、熟悉多线程编程，熟悉socket编程、Thrift接口技术；
        </p>
        <p>
            5、熟悉mysql、Oracle、DB2等数据库，并有开发经验；
        </p>
        <p>
            6、熟悉linux/UNIX等操作系统，了解Shell；
        </p>
        <p>
            7、有较强的表达和沟通能力，能承受较大工作压力；
        </p>
        <P style="padding-bottom: 10px">
            8、有互联网或者大数据的经验优先，有大容量、高性能、高可用、分布式、架构设计经验者优先
        </P>
        <p>
            【招聘岗位：互联网支付产品运营专员（2人）】
        </p>
        <p>
            岗位职责：
        </p>
        <p>
            1、负责互联网支付平台产品整体运营工作，对接上下游服务部门；
        </p>
        <p>
            2、负责运营管理类需求分析与整理，保证需求按时落地；
        </p>
        <p>
            3、负责商户及销售等部门的疑难问题处理与整理，并形成相应培训文档，知识落地；
        </p>
        <P style="padding-bottom: 10px">
            4、负责产品日常经营，包括问题处理、需求收集和反馈、数据监控，并推进产品改进。
        </p>
        <p>
            任职要求：
        </p>
        <p>
            1、本科及以上学历，至少有1年以上支付公司产品运营经验；
        </p>
        <p>
            2、具备基础的产品分析能力及总结能力，逻辑清晰，能够通过各种运营数据的收集、归纳，分析对产品的设计和运营进行及时的调整及改进；
        </p>
        <p>
            3、具备共性抽象能力，性格主动、沟通能力强、抗压力强；

        </p>
        <p>
            4、具备较强撰写能力，熟练使用WORD，EXCEL，PPT；

        </p>
        <p>
            5、了解行业互联网支付特点，具备行业大客户产品运营相关工作经验者优先。
        </p>




        <!--   end-->
    </div>
</div>
<!-- /.container -->
<div th:insert="~{footer :: copy}"></div>
<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>

</body>
</html>