<!DOCTYPE html>
<html lang="zh"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>商户详情页面</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.11.2/css/all.css}">
    <link rel="stylesheet" th:href="@{/css/modern-business.css}">
</head>
<body>
<!--/*@thymesVar id="merchantInfo" type="com.yada.btg.web.entity.MerchantInfo"*/-->
<!--/*@thymesVar id="mapInfo" type="java.lang.String"*/-->
<!--/*@thymesVar id="imgPre" type="java.lang.String"*/-->
<!-- Page Content -->
<div class="container">
    <div class="row merchants-box">
        <div class="col-lg-7 col-sm-7">
            <h5 class="query-title" th:text="${merchantInfo.merTitle}"></h5>
            <p>电话：<span th:text="${merchantInfo.telephone}"></span></p>
            <p>地址：<span th:text="${merchantInfo.address}"></span></p>
            <p th:utext="${merchantInfo.otherDesc}">
            </p>
        </div>
        <div class="col-lg-5 col-sm-5">
            <img th:src="@{${imgPre}+${merchantInfo.merMainImg}}">
        </div>
    </div>

    <!--大标题-->
    <div class="content-title">
        <p>
            商户介绍
        </p>
        <p>MERCHANTS INTRODUCE</p>
    </div>
    <!--大标题结束-->
    <div class="merchants-details" th:each="img:${merchantInfo.merchantInfoExt}">
        <img th:src="@{${imgPre}+${img.merImg}}">
        <p th:utext="${img.textIntroduction}">
        </p>
    </div>

    <div class="merchants-details-footer">
        <p>特别声明：<span th:utext="${merchantInfo.importantClause}"></span></p>
        <p>优惠信息：<span th:utext="${merchantInfo.discountInfo}"></span></p>
    </div>
</div>

<!-- /.container -->
<a th:href="${mapInfo}" target="_blank">
    <div class="here-box">
        <p>到这里去</p>
    </div>
</a>

<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>
</body>
</html>