<!DOCTYPE html>
<html lang="zh"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*@thymesVar id="menuTwoPath" type="java.lang.String"*/-->
    <meta charset="UTF-8">
    <title th:text="${menuTwoPath}">延期页面</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.11.2/css/all.css}">
    <link rel="stylesheet" th:href="@{/css/modern-business.css}">
    <style>
        .from-error-text {
            color: #fa4848;
            text-align: center;
            font-size: 14px;
            line-height: 24px;
        }
    </style>
</head>
<body>
<!--/*@thymesVar id="menuOnePath" type="java.lang.String"*/-->
<!--/*@thymesVar id="menuTwoPath" type="java.lang.String"*/-->
<!--/*@thymesVar id="serverRandom" type="java.lang.String"*/-->
<div th:insert="~{header :: copy}"></div>

<!--页面当前位置-->
<div class="current-position">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li>|| 您当前所在的位置: &nbsp;</li>
            <li class="breadcrumb-item">首页</li>
            <li class="breadcrumb-item active" th:text="${menuOnePath}"></li>
            <li class="breadcrumb-item active" aria-current="page" th:text="${menuTwoPath}"></li>
        </ol>
    </nav>
</div>
<!--页面当前位置结束-->

<!-- Page Content -->
<div class="container">
    <div class="row marginB">
        <div class="col-lg-8 col-sm-8">
            <h5 class="query-title">非实名卡延期</h5>
            <!-- from表单 -start-->
            <form>
                <div class="Card-balance-box">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text">卡号码</label>
                        </div>
                        <input type="text" id="cardNo" name="cardNo" class="form-control"
                               aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                               placeholder="请输入卡号码" maxlength="23"
                               onkeyup="this.value=this.value.replace(/\s/g, '').replace(/(\S{4})(?=\S)/g,'$1 ')">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">查询密码</span>
                        </div>
                        <div class="form-control" tabindex="0">
                            <div id="psd" name="psd" aria-label="Sizing example input"
                                 aria-describedby="inputGroup-sizing-default"></div>
                        </div>
                        <input type="hidden" id="serverRandom" name="serverRandom" th:value="${serverRandom}"/>
                        <input type="hidden" id="password" name="password"/>
                        <input type="hidden" id="clientRandom" name="clientRandom"/>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inlineFormDatet">备注</span>
                        </div>
                        <textarea name="remarks" id="remarks" class="form-control" aria-label="With textarea"
                                  maxlength="512"></textarea>
                    </div>
                    <div class="from-error-text"></div>
                    <div class="text-center">
                        <button type="button" id="sub" class="btn btn-danger" onclick="submitData()">提交</button>
                    </div>
                </div>
            </form>
            <!-- from表单 -end-->
        </div>

        <!-- 模态框 -->
        <div class="modal fade myModal" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
            <div class="modal-dialog modal-custom" role="document">
                <div class="modal-content">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <img id="resultImg" class="results-img" width="100%">
                            <div id="result">该页无法显示,请与系统管理员联系!</div>
                        </div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <!-- /.container -->  <!--  微信公众号 -start-->
        <div class="col-lg-4 col-sm-4 text-center public-box">
            <img th:src="@{/images/1c4624583e97384838eefa8193d1308c.jpg}">
            <p>微信公众号：首付通</p>
            <p>请关注首付通微信公众号</p>
        </div>
        <!--  微信公众号 -end-->
    </div>
</div>
<div th:insert="~{footer :: copy}"></div>
<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>
<script th:src="@{/js/cfcasip.min.js}" src="../../../static/js/cfcasip.min.js"></script>
<script th:src="@{/js/cfcapclogin.js}" src="../../../static/js/cfcapclogin.js"></script>
<script th:src="@{/js/CFCASIPInput.min.js}" src="../../../static/js/CFCASIPInput.min.js"></script>
<script>
    function submitData() {
        $("#sub").removeAttr("data-target", ".myModal");
        $("#sub").removeAttr("data-toggle", "modal");
        let objErrorText = $(".from-error-text");
        objErrorText.text("");
        let verifyFlag = true;
        let cardNo = $("#cardNo").val().replace(/\s*/g, "");
        let psd = $("#psd").text();
        let serverRandom = $("#serverRandom").val();
        let remarks = $("#remarks").val();
        let cardNoRule = /^[\d]{7,19}$/;
        if (cardNo === null || cardNo === "") {
            objErrorText.text("卡号不能为空");
            verifyFlag = false;
            return;
        }
        if (!cardNoRule.test(cardNo)) {
            objErrorText.text("卡号不存在");
            verifyFlag = false;
            return;
        } else {
            $.ajax({
                url: "ajax_CheckCardNo",
                data: {cardNo: cardNo},
                type: "post",
                cache: false,
                dataType: "text",
                async: false,//同步请求
                success: function (data) {
                    let loginStr = new RegExp('doctype html');
                    let toLogin = loginStr.test(data.toLowerCase());
                    if (toLogin) {
                        verifyFlag = false;
                        location.reload();
                    } else {
                        if (data === "系统错误") {
                            window.location.href = "../globalError";
                            verifyFlag = false;
                            return;
                        } else if (data !== "") {
                            objErrorText.text(data);
                            verifyFlag = false;
                            return;
                        }
                    }
                },
                error: function () {
                    objErrorText.text("系统错误，请联系管理员！");
                    verifyFlag = false;
                }
            });
            if (!verifyFlag) {
                return;
            }
        }
        if (psd === null || psd === "") {
            objErrorText.text("密码不能为空");
            verifyFlag = false;
            return;
        }
        if (psd.length !== 6) {
            objErrorText.text("密码必须是6位数字");
            verifyFlag = false;
            return;
        }
        setPwd();
        if (remarks.trim().length === 0) {
            objErrorText.text("备注信息不能为空");
            verifyFlag = false;
            return;
        }
        let password = $("#password").val();
        let clientRandom = $("#clientRandom").val();
        if (verifyFlag) {
            $.ajax({
                url: "ajax_QueryDelayInfo",
                data: {
                    cardNo: cardNo,
                    password: password,
                    remarks: remarks,
                    clientRandom: clientRandom,
                    serverRandom: serverRandom
                },
                type: "post",
                cache: false,
                dataType: "text",
                async: false,
                success: function (data) {
                    let loginStr = new RegExp('doctype html');
                    let toLogin = loginStr.test(data.toLowerCase());
                    if (toLogin) {
                        verifyFlag = false;
                        location.reload();
                    } else {
                        let result = data.split("-");
                        if (result.length == 1) {
                            window.location.href = "../globalError";
                        } else if (result[0] == "true") {
                            $("#result").text(result[1]);
                            $("#sub").attr("data-target", ".myModal");
                            $("#sub").attr("data-toggle", "modal");
                            $("#resultImg").attr("src", "../images/results-1.png")
                        } else {
                            $("#result").text(result[1]);
                            $("#sub").attr("data-target", ".myModal");
                            $("#sub").attr("data-toggle", "modal");
                            $("#resultImg").attr("src", "../images/results-2.png")
                        }
                    }
                },
                error: function () {
                    objErrorText.text("系统错误，请联系管理员！")
                }
            });
        }
    }
</script>
</body>
</html>