<!DOCTYPE html>
<html lang="zh"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*@thymesVar id="menuTwoPath" type="java.lang.String"*/-->
    <meta charset="UTF-8">
    <title th:text="${menuTwoPath}">文章列表页面</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.11.2/css/all.css}">
    <link rel="stylesheet" th:href="@{/css/modern-business.css}">
</head>
<body>
<div th:insert="~{header :: copy}"></div>

<!--页面当前位置-->
<!--/*@thymesVar id="menuOnePath" type="java.lang.String"*/-->
<!--/*@thymesVar id="menuTwoPath" type="java.lang.String"*/-->
<!--/*@thymesVar id="page" type="org.springframework.data.domain.Page"*/-->
<!--/*@thymesVar id="size" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="contents" type="java.util.List<com.yada.btg.web.entity.TextInfo>"*/-->
<!--/*@thymesVar id="firstQueryString" type="java.lang.String"*/-->
<!--/*@thymesVar id="preQueryString" type="java.lang.String"*/-->
<!--/*@thymesVar id="nextQueryString" type="java.lang.String"*/-->
<!--/*@thymesVar id="lastQueryString" type="java.lang.String"*/-->
<!--/*@thymesVar id="menuOneId" type="java.lang.String"*/-->
<!--/*@thymesVar id="menuTwoId" type="java.lang.String"*/-->
<div class="current-position">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li>|| 您当前所在的位置: &nbsp;</li>
            <li class="breadcrumb-item">首页</li>
            <li class="breadcrumb-item active" th:text="${menuOnePath}"></li>
            <li class="breadcrumb-item active" aria-current="page" th:text="${menuTwoPath}"></li>
        </ol>
    </nav>
</div>
<!--页面当前位置结束-->

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <h5 class="query-title" th:text="${menuTwoPath}"></h5>
            <form th:action="@{/list/textInfo}">
                <!-- 新闻列表 -start-->
                <div class="news-box">
                    <ul class="list-group" th:if="${size>0}">
                        <div th:each="content:${contents}">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a th:if="${content.getTextTitle()!=null}"
                                   th:href="@{/list/textInfo(textId=${content.getTextId()},menuOneId=${menuOneId},menuTwoId=${menuTwoId})}"
                                   th:text="${content.getTextTitle()}"> </a>
                                <span class="badge"
                                      th:if="${content.getUpdateTime()!=null && content.getUpdateTime().length()==19}"
                                      th:text="${content.getUpdateTime().substring(0,10)}"></span>
                            </li>
                        </div>
                    </ul>
                </div>
                <!-- 新闻列表 -end-->
            </form>


            <!-- 分页 -start-->
            <nav aria-label="Page navigation example" class="paging-box">
                <ul class="pagination">
                    <li class="page-item" th:if="${page ne null} ">
                        <a class="page-link"  aria-label="Previous" th:if="${page.getNumber() eq 0}">
                            <span aria-hidden="false">首页</span>
                        </a>
                        <a class="page-link" th:href="'?'+${firstQueryString}" aria-label="Previous" th:if="${page.getNumber() > 0}">
                            <span aria-hidden="true">首页</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" th:href="'?'+${preQueryString}" aria-label="Previous"
                           th:if="${page.getNumber() > 0}">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                        <a class="page-link" th:href="'?'+${preQueryString}" aria-label="Previous"
                           th:if="${page.getNumber() eq 0}">
                            <span aria-hidden="false">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item active" th:if="${page eq null}">
                            <span aria-hidden="true" class="page-link">
        							<span >0</span>
        								/
        							<span >0</span>
        						</span>
                    </li>
                    <li class="page-item active" th:if="${page ne null}">
                            <span aria-hidden="false" class="page-link">
                                <span th:if="${page.totalPages eq 0}" th:text="${page.getNumber()}"></span>
        							<span th:if="${page.totalPages ne 0}"
                                          th:text="${page.getNumber() + 1}"></span>
        								/
        							<span th:text="${page.totalPages}"></span>
        						</span>
                    </li>
                    <li class="page-item" th:if="${page ne null}">
                        <a class="page-link" href="#" aria-label="Next"
                           th:if="${page.getNumber() eq (page.getTotalPages()-1)} or ${page.getTotalPages() eq 0}">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                        <a class="page-link" th:href="'?'+${nextQueryString}" aria-label="Next"
                           th:if="${page.getNumber() lt (page.getTotalPages()-1)}">
                            <span aria-hidden="false">&raquo;</span>
                        </a>
                    </li>
                    <li class="page-item" th:if="${page ne null}">
                        <a class="page-link" href="#" th:if="${page.getNumber() eq (page.getTotalPages()-1)} or ${page.getTotalPages() eq 0}">
                            <span aria-hidden="true">末页</span>
                        </a>
                        <a class="page-link"  th:href="'?'+${lastQueryString}" th:if="${page.getNumber() lt (page.getTotalPages()-1)}" >
                            <span aria-hidden="false">末页</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- 分页 -end-->
        </div>
    </div>
</div>
<!-- /.container -->

<div th:insert="~{footer :: copy}"></div>
<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>
</body>
</html>