<!DOCTYPE html>
<html lang="zh"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*@thymesVar id="menuTwoPath" type="java.lang.String"*/-->
    <meta charset="UTF-8">
    <title th:text="${menuTwoPath}">卡消费记录查询页面</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.11.2/css/all.css}">
    <link rel="stylesheet" th:href="@{/css/modern-business.css}">
    <!-- 日期高亮 -->
    <link rel="stylesheet"
          th:href="@{/webjars/bootstrap-datetimepicker/2.4.4/css/bootstrap-datetimepicker.min.css}"/>
    <style>
        .from-error-text {
            color: #fa4848;
            text-align: center;
            font-size: 14px;
            line-height: 24px;
        }
    </style>
</head>
<body>
<div th:insert="~{header :: copy}"></div>
<!--/*@thymesVar id="menuOnePath" type="java.lang.String"*/-->
<!--/*@thymesVar id="menuTwoPath" type="java.lang.String"*/-->
<!--/*@thymesVar id="menuOneId" type="com.yada.btg.web.entity.MenuTwo"*/-->
<!--/*@thymesVar id="menuTwoId" type="com.yada.btg.web.entity.MenuTwo"*/-->
<!--/*@thymesVar id="tran" type="com.yada.btg.web.entity.TranRecode"*/-->
<!--/*@thymesVar id="trName" type="com.yada.btg.web.entity.TranRecode"*/-->
<!--页面当前位置-->
<div class="current-position">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li>|| 您当前所在的位置: &nbsp;</li>
            <li class="breadcrumb-item">首页</li>
            <li class="breadcrumb-item active" th:text="${menuOnePath}"></li>
            <li class="breadcrumb-item active" aria-current="page" th:text="${menuTwoPath}"></li>
        </ol>
    </nav>
</div>
<!--页面当前位置结束-->

<!-- Page Content -->
<div class="container">
    <div class="row marginB">
        <div class="col-lg-8 col-sm-8">
            <h5 class="query-title">卡消费记录查询</h5>

            <!-- from表单 -start-->

            <form id="submitForm" method="post" th:action="@{/consume/record}">
                <div class="Card-balance-box">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text">卡号码</label>
                        </div>
                        <input type="text" class="form-control" id="cardNo" name="cardNo"
                               aria-label="Sizing example input"
                               aria-describedby="inputGroup-sizing-default" placeholder="请输入卡号码"
                               onblur="this.value=this.value.replace(/^\s+|\s+$/g,'')"
                               onkeyup="this.value=this.value.replace(/\s/g, '').replace(/(\S{4})(?=\S)/g,'$1 ')"/>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">查询密码</span>
                        </div>
                        <div class="form-control" tabindex="0">
                            <div id="psd" name="psd" aria-label="Sizing example input"
                                 aria-describedby="inputGroup-sizing-default"></div>
                        </div>
                        <input id="serverRandom" name="serverRandom" th:value="${serverRandom}" type="hidden"/>
                        <input type="hidden" id="password" name="password">
                        <input id="clientRandom" name="clientRandom" type="hidden"/>
                        <input id="menuOneId" name="menuOneId" type="hidden" th:value="${menuOneId}"/>
                        <input id="menuTwoId" name="menuTwoId" type="hidden" th:value="${menuTwoId}"/>
                    </div>

                    <div class="">
                        <div class="">
                            <div class="flex-choose">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inlineFormDatet">开始时间</span>
                                </div>
                                <div class="choose-two">
                                    <div class="input-group date form_datetime" id="startDateId"
                                         data-date-format="yyyy-mm-dd "
                                         data-link-field="dtp_input1">
                                        <input id="startDate" name='startDate' class="form-control date-select-two"
                                               placeholder="起始日期" size="16" type="text" value="" readonly/>
                                        <span class="input-group-addon arrow-down-icon"
                                              onclick="startDateOnclick()"><span
                                                class="glyphicon glyphicon-th "></span></span>
                                    </div>
                                </div>
                                <div class="choose-icon"></div>
                                <div class="choose-two">
                                    <div class="input-group date form_datetime" id="endDateId"
                                         data-date-format="yyyy-mm-dd "
                                         data-link-field="dtp_input1">
                                        <input id="endDate" name='endDate' class="form-control date-select-two"
                                               placeholder="终止日期" size="16" type="text" value="" readonly/>
                                        <span class="input-group-addon arrow-down-icon" onclick="endDateOnclick()"><span
                                                class="glyphicon glyphicon-th "></span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="from-error-text" id="errorMess"></div>
                    <div class="text-center">
                        <button type="button" class="btn btn-danger" onclick="submitData()">查询</button>
                    </div>
                </div>
            </form>

            <!-- from表单 -end-->
            <div class="contentWidth consumption-list-box" th:if="${hasNotLs==true}">
                <div class="consumption-list-item" style="border: none;">提示:所选时间段没有流水</div>
            </div>
            <div id="lsDivId" class="contentWidth consumption-list-box" th:if="${trans!=null&&hasNotLs==false}">

                <div class="consumption-list-item"
                     th:each="tran :${trans}">
                    <div class="consumption-list">
                        <div class="floatLeft consumption-trade-name" th:text="${tran.trName}"></div>
                        <div class="floatRight consumption-price" th:text="${tran.trAmt}"></div>
                    </div>
                    <div class="consumption-list">
                        <div class="floatLeft consumption-card-id" th:text="${tran.cardNo}"></div>
                        <div class="floatRight consumption-remain-value" th:text="'余额'+${tran.bal}"></div>
                    </div>
                    <div class="consumption-list">
                        <div class="floatLeft consumption-merchant" th:text="${tran.merName}"></div>
                        <div class="floatRight consumption-time" th:text="${tran.trDateTime}"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 模态框 -->
        <div class="modal fade myModal" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
            <div class="modal-dialog modal-custom" role="document">
                <div class="modal-content">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <img id="resultImg" th:src="@{/images/results-2.png}" class="results-img">
                            <div id="result">该页无法显示,请与系统管理员联系!</div>
                        </div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <div style="display: none">
            <button type="button" id="sub" class="btn btn-danger" onclick=""></button>
            <!--data-toggle="modal" data-target=".myModal"-->
        </div>
        <!--  微信公众号 -start-->
        <div class="col-lg-4 col-sm-4 text-center public-box">
            <img th:src="@{/images/1c4624583e97384838eefa8193d1308c.jpg}">
            <p>微信公众号：首付通</p>
            <p>请关注首付通微信公众号</p>
        </div>
        <!--  微信公众号 -end-->
    </div>
</div>
<!-- /.container -->


<div th:insert="~{footer :: copy}"></div>
<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>
<!--时间插件，没有则不显示日历-->
<script th:src="@{/webjars/bootstrap-datetimepicker/2.4.4/js/bootstrap-datetimepicker.js}"></script>
<!-- 翻译成中文 -->
<script src="../../../static/js/bootstrap-datetimepicker.fr.js" th:src="@{/js/bootstrap-datetimepicker.fr.js}"></script>
<!-- 没有则密码输不上，二者缺一不可 -->
<script src="../../static/js/CFCASIPInput.min.js" th:src="@{/js/CFCASIPInput.min.js}"></script>
<script src="../../static/js/cfcapclogin.js" th:src="@{/js/cfcapclogin.js}"></script>

<script language="javascript"  th:inline="javascript">
    function getCurDate() {
        var date = new Date();
        var mm = date.getMonth() + 1;
        var dd = date.getDate();
        var mmstr = mm > 9 ? '' + mm : '0' + mm;
        var ddstr = dd > 9 ? '' + dd : '0' + dd;
        return (date.getFullYear() + '-' + mmstr + '-' + ddstr);
    }

    /*页面加载进来之时*/
    document.onreadystatechange = function () {
        document.getElementById('startDate').value = getCurDate();
        document.getElementById('endDate').value = getCurDate();
        consumeAlert()
    };
    function consumeAlert() {
        $("#sub").removeAttr("data-target", ".myModal");
        $("#sub").removeAttr("data-toggle", "modal");
        $("#result").text("");
        if([[${RspCode}]] !== null) {
            if([[${RspCode}]] !== "0000"){
                $("#result").text([[${RspMsg}]]);
                $("#sub").attr("data-target", ".myModal");
                $("#sub").attr("data-toggle", "modal");
                document.getElementById("sub").click();
            }
        };
    }

    /*<![CDATA[*/
    var today = new Date();
    var minSelDate = new Date();//最短可选时间
    minSelDate.setMonth(today.getMonth() - 3);
    $("#startDateId").datetimepicker({
        format: 'yyyy-mm-dd',
        language: 'fr',
        todayBtn: "true",  //显示今天按钮
        autoclose: true,   //选择日期后自动关闭日期选择框
        todayHighlight: true,   //当天高亮显示
        minView: "month",   //不显示时分秒
        showMeridian: 1,
        pickerPosition: "bottom-left",
        startDate: minSelDate,
        endDate: new Date()
    }).on('click', function (e) {
        if ($("#endDate").val() != "" && $("#endDate").val() != null) {
            $("#startDate").val("");
            $("#startDateId").datetimepicker("setEndDate", $("#endDate").val());
        }
    });


    $("#endDateId").datetimepicker({
        format: 'yyyy-mm-dd',
        language: 'fr',
        todayBtn: "true",  //显示今天按钮
        autoclose: true,   //选择日期后自动关闭日期选择框
        todayHighlight: true,   //当天高亮显示
        minView: "month",   //不显示时分秒
        showMeridian: 1,
        pickerPosition: "bottom-left",
        startDate: minSelDate,
        endDate: new Date()
    }).on('click', function (e) {
        if ($("#startDate").val() != "" && $("#startDate").val() != null) {
            $("#endDate").val("");
            $("#endDateId").datetimepicker("setStartDate", $("#startDate").val());
        }
    });

    function startDateOnclick() {
        if ($("#endDate").val() != "" && $("#endDate").val() != null) {
            $("#startDate").val("");
            $("#startDateId").datetimepicker("setEndDate", $("#endDate").val());
        }
    }

    function endDateOnclick() {
        if ($("#startDate").val() != "" && $("#startDate").val() != null) {
            $("#endDate").val("");
            $("#endDateId").datetimepicker("setStartDate", $("#startDate").val());
        }
    }

    function consumerQuery() {
        $(".loading-box").show();
        setTimeout(function () {
            $(".consumption-list-box").slideDown();
            $(".loading-box").hide();
        }, 2000)
    }

    function submitData() {
        var submitFlag = true;
        var verifyFlag = true;
        var cardNo = $("#cardNo").val().replace(/\s*/g, "");
        var form = $("#submitForm");
        var psd = $("#psd").text();
        var startDate = $("#startDate").val();
        var endDate = $("#endDate").val();
        var errorMsg = $("#errorMess");
        if (startDate === '' || startDate == null) {
            errorMsg.text("初始日期必填");
            return;
        }
        if (endDate === '' || endDate == null) {
            errorMsg.text("结束日期必填");
            return;
        }
        if (endDate < startDate) {
            errorMsg.text("结束日期必须大于开始日期");
            return;
        }

        var cardNoRule = /^[\d]{7,19}$/;
        if (!cardNoRule.test(cardNo)) {
            submitFlag = false;
            errorMsg.text("卡号不存在");
            return;
        } else {
            $.ajax({
                url: "ajax_CheckCardNo",
                data: {cardNo: cardNo},
                type: "post",
                cache: false,
                dataType: "text",
                async: false, //同步请求
                success: function (data) {
                    data = data.toLowerCase();
                    var loginStr = new RegExp('doctype html');
                    var toLogin = loginStr.test(data);
                    if (toLogin) {
                        location.reload();
                        submitFlag = false;
                        verifyFlag = false;
                    } else {
                        if (data !== "") {
                            submitFlag = false;
                            verifyFlag = false;
                            errorMsg.text(data);
                        }
                    }
                },
                error: function () {
                    submitFlag = false;
                    verifyFlag = false;
                    errorMsg.text("系统错误，请联系管理员！");
                }
            });
        }
        if (verifyFlag) {
            if (psd.length !== 6) {
                submitFlag = false;
                errorMsg.text("查询密码应该是6位");
                return;
            }
            setPwd();
            if (submitFlag) {
                form[0].submit();
            }
        }

    }
</script>
</body>
</html>