<!DOCTYPE html>
<html lang="zh"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*@thymesVar id="menuTwoPath" type="java.lang.String"*/-->
    <meta charset="UTF-8">
    <title th:text="${menuTwoPath}">挂失页面</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.11.2/css/all.css}">
    <link rel="stylesheet" th:href="@{/css/modern-business.css}">
</head>
<body>
<div th:insert="~{header :: copy}"></div>

<!--页面当前位置-->
<!--/*@thymesVar id="menuTwoPath" type="java.lang.String"*/-->
<!--/*@thymesVar id="menuOnePath" type="java.lang.String"*/-->
<div class="current-position">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li>|| 您当前所在的位置: &nbsp;</li>
            <li class="breadcrumb-item">首页</li>
            <li class="breadcrumb-item active" th:text="${menuOnePath}"></li>
            <li class="breadcrumb-item active" aria-current="page" th:text="${menuTwoPath}"></li>
        </ol>
    </nav>
</div>
<!--页面当前位置结束-->

<!-- Page Content -->
<div class="container">
    <div class="row marginB">
        <div class="col-lg-8 col-sm-8">
            <h5 class="query-title">实名卡挂失</h5>

            <div class="Card-balance-box">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text">卡号码</label>
                    </div>
                    <input type="text" id="cardNo" name="cardNo" class="form-control"
                           aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                           onkeyup="this.value=this.value.replace(/\s/g, '').replace(/(\S{4})(?=\S)/g,'$1 ')"
                           placeholder="请输入卡号码">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">证件号</span>
                    </div>
                    <input type="text" id="idNo" name="idNo" class="form-control"
                           aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                           placeholder="请输入证件号"
                           onkeyup="this.value=this.value.replace(/\s/g, '').replace(/(^(\S{6})|(\S{8}))(?=[^\s])/g,'$1  ')">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inlineFormDatet">备注</span>
                    </div>
                    <textarea class="form-control" id="remarks" name="remarks"
                              aria-label="With textarea"></textarea>
                </div>
                <div class="from-error-text" id="errorMsg"></div>
                <div class="text-center">
                    <button type="button" id="sub" class="btn btn-danger" onclick="submitData()">提交
                    </button>
                </div>
            </div>

        </div>

        <!-- 模态框 -->
        <div class="modal fade myModal" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
            <div class="modal-dialog modal-custom" role="document">
                <div class="modal-content">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <img id="resultImg" class="results-img" width="100%">
                            <div id="result">该页无法显示,请与系统管理员联系!</div>
                        </div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <!--  微信公众号 -start-->
        <div class="col-lg-4 col-sm-4 text-center public-box">
            <img th:src="@{/images/1c4624583e97384838eefa8193d1308c.jpg}">
            <p>微信公众号：首付通</p>
            <p>请关注首付通微信公众号</p>
        </div>
        <!--  微信公众号 -end-->
    </div>
</div>
<!-- /.container -->


<div th:insert="~{footer :: copy}"></div>
<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>
<script>
    function submitData() {
        var verifyFlag = false;
        var cardNo = $("#cardNo").val().replace(/\s*/g, "");
        var idNo = $("#idNo").val().replace(/\s*/g, "");
        var remarks = $("#remarks").val();
        var cardNoRule = /^[0-9]{7,19}$/;
        var idNoRule = /^[0-9xX]{1,30}$/;
        var errorMsg = $("#errorMsg");
        $("#sub").removeAttr("data-target", ".myModal");
        $("#sub").removeAttr("data-toggle", "modal");
        if (!cardNoRule.test(cardNo)) {
            errorMsg.text("卡号只包含数字，长度为7到19位，请核对长度和格式重新输入");
            return;
        } else {
            $.ajax({
                url: "ajax_CheckCardNo",
                data: {cardNo: cardNo},
                type: "post",
                cache: false,
                dataType: "text",
                async: false,//同步请求
                success: function (data) {
                    var loginStr = new RegExp('doctype html');
                    var toLogin = loginStr.test(data.toLowerCase());
                    if (toLogin) {
                        location.reload();
                    } else {
                        if (data !== "") {
                            if (data === "系统错误") {
                                location.href = "../globalError?errMsg=" + data;
                            } else {
                                errorMsg.text(data);
                                return;
                            }
                        } else {
                            verifyFlag = true;
                        }
                    }
                },
                error: function () {
                    errorMsg.text("系统错误，请联系管理员！");
                    return;
                }
            });
            if (verifyFlag) {
                if (!idNoRule.test(idNo)) {
                    errorMsg.text("证件号不能为空，只包含数字、x和X，最长30位，请核对长度和格式重新输入");
                    return;
                }
                if (!(remarks.trim().length >= 1 && remarks.trim().length <= 512)) {
                    errorMsg.text("备注不能为空，最多为256个汉字或512个字母和数字");
                    return;
                }
                $.ajax({
                    url: "ajax_report",
                    data: {
                        cardNo: cardNo,
                        idNo: idNo,
                        remarks: remarks
                    },
                    type: "post",
                    cache: false,
                    dataType: "text",
                    async: false,//同步请求
                    success: function (data) {
                        var loginStr = new RegExp('doctype html');
                        var toLogin = loginStr.test(data.toLowerCase());
                        if (toLogin) {
                            location.reload();
                        } else {
                            if (data === "已挂失") {
                                $("#result").text(cardNo + data);
                                $("#sub").attr("data-target", ".myModal");
                                $("#sub").attr("data-toggle", "modal");
                                $("#resultImg").attr("src", "../images/results-1.png");
                                errorMsg.text("");
                                return;
                            } else if (data === "系统错误") {
                                location.href = "../globalError?errMsg=" + data;
                            } else {
                                $("#result").text(data);
                                $("#sub").attr("data-target", ".myModal");
                                $("#sub").attr("data-toggle", "modal");
                                $("#resultImg").attr("src", "../images/results-2.png");
                                errorMsg.text("");
                                return;
                            }
                        }
                    },
                    error: function () {
                        errorMsg.text("系统错误，请联系管理员！");
                        return;
                    }
                })
            }
        }
    }
</script>
</body>
</html>