<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="zh">

<body>
<!--/*@thymesVar id="msg" type="com.yada.btg.web.entity.MsgContext"*/-->
<div th:fragment="copy">
    <!-- Footer -->
    <footer class="py-5 bg-dark bg-black">
        <div class="container Homepage-footer-text">
            <div class="footer-text-left">
                <img th:src="@{/images/zs.gif}" width="134">
            </div>

            <div class="footer-text-content" th:utext="${msg.footRes}"></div>

            <div class="footer-text-right">
                <img th:src="@{/images/qr_code.png}" width="92">
                <p>扫码关注</p>
            </div>

            <!--商户链接区域-->
            <div class="Business-link">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="Business-link-name">商户链接:</li>
                        <li class="breadcrumb-item" th:each="link:${msg.merLinkList}">
                            <a th:href="${link.merLink}" th:text="${link.listTitle}" target="_blank"></a>
                        </li>
                    </ol>
                </nav>
            </div>
            <!--商户链接区域结束-->

        </div>
        <!-- /.container -->

    </footer>
</div>

</body>

</html>