<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="zh">

<body>
<!--/*@thymesVar id="msg" type="com.yada.btg.web.entity.MsgContext"*/-->
<!--/*@thymesVar id="imgs" type="java.util.ArrayList<com.yada.btg.web.entity.MenuImgExt>"*/-->
<!-- 头部区域 -->
<div th:fragment="copy">
    <!--导航区域-->
    <nav class="navbar fixed-top navbar-expand-lg navbar-white bg-white fixed-top fixed-Mtop">
        <!--全国热线区域-->
        <div class="top-photo">
            <div class="bg-gray"></div>
            <p class="Customer-service">
                <span style="font-size: 1.2em; color: #666;">
                    <i class="fas fa-phone-alt"></i>
                </span>
                &nbsp;全国客服热线: 400-115-0505
            </p>
            <p class="Enterprise">
                 <span style="font-size: 1.5em; color: #fff;">
                     <i class="fab fa-weixin"></i>
                </span><a href="http://localhost:8180/btgweb/wechat/enterpriseWeChat" th:href="@{/enterpriseWeChat}">企业微信</a>
            </p>
            <p class="WeChat">
                <span style="font-size: 1.5em; color: #fff;">
                     <i class="fab fa-weibo"></i>
                </span><a href="https://weibo.com/shouft" target="_blank"> 企业微博</a>

            </p>
        </div>
        <!--全国热线区域结束-->

        <!--菜单区域-->

        <img th:src="@{/images/logo.png}" width="150" title="logo" alt="首付通" class="logo">
        <div class="container Black-font">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <th:block th:each="menu:${msg.headMenuList}">
                        <li class="nav-item" th:if="${menu.menuId==msg.homeMenuId} ">
                            <a class="nav-link" th:href="@{'/'}"
                               th:text="${menu.menuName}"></a>
                        </li>
                        <li class="nav-item dropdown" th:unless="${menu.menuId==msg.homeMenuId} ">
                            <a class="nav-link dropdown-toggle"
                               onmouseenter="$('.dropdown').removeClass('show');$('.dropdown-menu').removeClass('show');$(this).parent().addClass('show');$(this).next().addClass('show');"
                               id="navbarDropdownbusiness" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false" href="#"
                               th:text="${menu.menuName}">
                            </a>
                            <div th:if="${menu.menuTwoList.size()>0}"
                                 class="dropdown-menu dropdown-menu-right"
                                 aria-labelledby="navbarDropdownbusiness">
                                <a class="dropdown-item" th:each="item:${menu.menuTwoList}"
                                   th:href="@{${item.redirectPath}(menuOneId=${menu.getMenuId()},menuTwoId=${item.getMenuId()})}"
                                   th:text="${item.menuName}"></a>
                            </div>
                        </li>
                    </th:block>
                </ul>
            </div>
        </div>
        <!--菜单区域结束-->
    </nav>
    <!--导航区域结束-->

    <!--页面内容头部区域图片-->
    <header>
        <div th:if="${#lists.size(imgs)<=1}" class="header-img" th:each="img:${imgs}">
            <a th:href="@{${#strings.isEmpty(img.imgLink)==true?'#':img.imgLink}}">
                <img th:src="@{${msg.imgPre}+${img.imgPath}}" width="100%">
            </a>
        </div>
        <div th:if="${#lists.size(imgs)>=2}" id="carouselExampleIndicators" class="carousel slide"
             data-ride="carousel" data-interval="10000">
            <ol class="carousel-indicators" >
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner home-shuffling" role="listbox">
                <th:block th:each="item,itemStat:${imgs}">
                    <!-- Slide One - Set the background image for this slide in the line below -->
                    <div th:class="'carousel-item'+${itemStat.index == 0 ?' active':''}">
                        <a th:href="@{${#strings.isEmpty(item.imgLink)==true?'#':item.imgLink}}">
                            <img th:src="@{${msg.imgPre}+${item.imgPath}}" width="100%">
                        </a>
                    </div>
                </th:block>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </header>
    <!--页面内容头部区域图片结束-->

</div>
<!--头部区域结束-->
</body>

</html>