<!DOCTYPE html>
<html lang="zh"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.11.2/css/all.css}">
    <link rel="stylesheet" th:href="@{/css/modern-business.css}">
</head>
<body>
<!--/*@thymesVar id="msg" type="com.yada.btg.web.entity.MsgContext"*/-->
<!--/*@thymesVar id="newsMenuId" type="java.lang.String"*/-->
<!--/*@thymesVar id="news" type="java.util.ArrayList<com.yada.btg.web.entity.MenuTwo>"*/-->
<div th:insert="~{header :: copy}"></div>


<!-- Page Content -->
<div class="container">

    <!-- Portfolio Section -->

    <!--四个卡类别介绍-->
    <div class="row marginT Homepage-card">
        <div class="col-lg-3 col-sm-6 portfolio-item" th:each="item,itemStat:${msg.recommendBusinessList}">
            <div class="card h-100 text-center">
                <div th:class="'home-four homebg-'+${itemStat.index+1}">
                    <img th:src="@{${msg.imgPre}+${item.businessImg}}">
                </div>
                <div class="card-body">
                    <p class="card-title">
                        <a th:href="@{${item.menuTwo.redirectPath}(menuOneId=${msg.businessMenuId},menuTwoId=${item.menuTwo.menuId})}"
                           th:text="${item.businessName}"></a>
                    </p>
                    <p>--</p>
                    <p class="card-text" th:text="${item.businessIntroduction}">
                    </p>
                    <button type="button" class="btn btn-outline-danger"><a
                            th:href="@{${item.menuTwo.redirectPath}(menuOneId=${msg.businessMenuId},menuTwoId=${item.menuTwo.menuId})}">查看更多</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--四个卡类别介绍结束-->

    <!--大标题-->
    <div class="content-title">
        <p>
            新闻资讯
        </p>
        <p>OUR NEWS</p>
    </div>
    <!--大标题结束-->

    <!--新闻四大模块-->
    <div class="row Homepage-new">
        <div class="col-lg-6 col-sm-6 portfolio-item" th:each="menu:${news}">
            <div class="card">
                <div class="card-header">
                    || <span th:text="${menu.columnType.columnName}"></span>
                    <button type="button" class="btn btn-link"><a
                            th:href="@{${menu.redirectPath}(menuOneId=${msg.newsMenuId},menuTwoId=${menu.menuId})}">更多>></a>
                    </button>
                </div>
                <div class="text-center"
                     th:unless="${menu.columnType.textInfoList.size()>0}">
                    <img th:src="@{/images/online.png}" width="150" title="logo" alt="即将上线" class="logo">
                </div>
                <ul class="list-group list-group-flush"
                    th:if="${menu.columnType.textInfoList.size()>0}">
                    <li class="list-group-item" th:each="text:${menu.columnType.textInfoList}">
                        <a th:href="@{/list/textInfo(textId=${text.textId},menuOneId=${msg.newsMenuId},menuTwoId=${menu.menuId})}">
                            <span th:text="${text.textTitle}"></span>
                            <em th:if="${#strings.length(text.updateTime) gt 10 }"
                                th:text="${#strings.substring(text.updateTime,0,10)}"></em>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--新闻四大模块结束-->

    <!--大标题-->
    <div class="content-title">
        <p>
            推荐商户
        </p>
        <p>RECOMMEND MERCHANTS</p>
    </div>
    <!--大标题结束-->

    <!--推荐商户-->
    <div class="row Homepage-merchants">
        <div class="col-lg-3 col-sm-6 portfolio-item" th:each="mer:${msg.recommendMerList}">
            <a th:alt="${mer.merTitle}" th:href="@{/mer/merDetail(menuOneId=${newsMenuId},merInfoId=${mer.merInfoId})}"
               target="_blank">
                <div class="card">
                    <img th:src="@{${msg.imgPre}+${mer.merMainImg}}" width="150" title="logo"
                         th:alt="${mer.merTitle}" class="logo">
                    <div class="card-body">
                        <p class="card-title text-center" th:text="${mer.merTitle}"></p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <!--推荐商户结束-->

</div>

<!-- /.container -->
<div th:insert="~{footer :: copy}"></div>


<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>

</body>
</html>