<!DOCTYPE html>
<html lang="zh"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>自发卡业务介绍</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.11.2/css/all.css}">
    <link rel="stylesheet" th:href="@{/css/modern-business.css}">
</head>
<body>
<div th:insert="~{header :: copy}"></div>

<!--页面当前位置-->
<div class="current-position">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li>|| 您当前所在的位置: &nbsp;</li>
            <li class="breadcrumb-item">首页</li>
            <li class="breadcrumb-item active">公司业务</li>
            <li class="breadcrumb-item active" aria-current="page">自发卡业务介绍</li>
        </ol>
    </nav>
</div>
<!--页面当前位置结束-->

<!-- Page Content -->
<div class="container">
    <!--自发卡业务解决方案-->
    <div class="row spontaneous-card">
        <div class="col-lg-7 col-sm-7">
            <h5>自发卡业务解决方案</h5><span> </span>
            <p>
                首付通自发卡系统是公司自主研发的一套完整、成熟的预付卡管理系统。通过自发卡系统为各企业提供
                发卡消费、查询、管理、充值等功能的金融业务。该系统主要用于百货、超市、餐饮、酒店、旅游、加
                油站等商户的预付卡业务的管理，完美的解决商户发卡、售卡、消费、对账等问题，为商户提供了优质
                高效的发卡服务。
            </p>
        </div>
        <div class="col-lg-5 col-sm-5">
            <img th:src="@{/images/spontaneous.png}" >
        </div>
    </div>
    <!--自发卡业务解决方案结束-->

    <!--大标题-->
    <div class="content-title">
        <p>
            服务方案
        </p>
        <p>SERVICE PLAN</p>
    </div>
    <!--大标题结束-->

    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <img th:src="@{/images/home-icon-1.png}" width="100%" >
        </div>
    </div>
    <!--服务方案-->
    <!--<div class="row text-center server-plan-list">-->
        <!--<div class="col-lg-3 col-sm-6">-->
               <!--<span>-->
                    <!--<i class="fa fa-gift"></i>-->
                <!--</span>-->
            <!--<p>卡片定制</p>-->
            <!--<p>-->
                <!--根据企业要求，采用密码防伪技术提供卡片只做服务，保证卡片安全-->
            <!--</p>-->
        <!--</div>-->

        <!--<div class="col-lg-3 col-sm-6">-->
               <!--<span>-->
                    <!--<i class="fas fa-database"></i>-->
                <!--</span>-->
            <!--<p>数据托管</p>-->
            <!--<p>-->
                <!--为企业提供发卡交易数据的托管及维护服务，节省企业成本-->
            <!--</p>-->
        <!--</div>-->

        <!--<div class="col-lg-3 col-sm-6">-->
               <!--<span>-->
                    <!--<i class="fas fa-object-group"></i>-->
                <!--</span>-->
            <!--<p>整合受理</p>-->
            <!--<p>-->
                <!--为企业提供预付卡的受理机具,同时可统一受理其他预付卡种-->
            <!--</p>-->
        <!--</div>-->

        <!--<div class="col-lg-3 col-sm-6">-->
               <!--<span>-->
                    <!--<i class="fas fa-yen-sign"></i>-->
                <!--</span>-->
            <!--<p>财务处理</p>-->
            <!--<p>-->
                <!--为各个发卡商实现交易结算和划账统计，并有众多的业务报表支持-->
            <!--</p>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="row text-center server-plan-list server-plan-margin">-->
        <!--<div class="col-lg-3 col-sm-6">-->
               <!--<span>-->
                    <!--<i class="fas fa-sync-alt"></i>-->
                <!--</span>-->
            <!--<p>协同转账</p>-->
            <!--<p>-->
                <!--提供企业对账的协助，纠正企业差错-->
            <!--</p>-->
        <!--</div>-->

        <!--<div class="col-lg-3 col-sm-6">-->
               <!--<span>-->
                    <!--<i class="fas fa-store-alt"></i>-->
                <!--</span>-->
            <!--<p>多点售卡</p>-->
            <!--<p>-->
                <!--支持企业多营业点售卡-->
            <!--</p>-->
        <!--</div>-->

        <!--<div class="col-lg-3 col-sm-6">-->
               <!--<span>-->
                    <!--<i class="fas fa-headset"></i>-->
                <!--</span>-->
            <!--<p>热线客服</p>-->
            <!--<p>-->
                <!--提供客户卡的查询、挂失、解挂、冻结等服务-->
            <!--</p>-->
        <!--</div>-->

        <!--<div class="col-lg-3 col-sm-6">-->
               <!--<span>-->
                    <!--<i class="fas fa-grin-beam"></i>-->
                <!--</span>-->
            <!--<p>敬请期待</p>-->
            <!--<p>-->
                <!--更多服务开发中，敬请期待-->
            <!--</p>-->
        <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash;服务方案结束&ndash;&gt;-->

    <!--大标题-->
    <div class="content-title">
        <p>
            系统特点
        </p>
        <p>SYSTEM CHARACTERISTICS</p>
    </div>
    <!--大标题结束-->

    <!--系统特点-->
    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <img th:src="@{/images/home-icon-2.png}" width="100%" >
        </div>
    </div>
    <!--<div class="row text-center server-plan-list">-->
        <!--<div class="col-lg-3 col-sm-6">-->
               <!--<span>-->
                    <!--<i class="fas fa-user-tie"></i>-->
                <!--</span>-->
            <!--<p>总分户管理</p>-->
            <!--<p>-->
                <!--系统可设置总分公司以及连锁门店的系统特权，达到集约管控的要求-->
            <!--</p>-->
        <!--</div>-->
        <!--<div class="col-lg-3 col-sm-6">-->
               <!--<span>-->
                    <!--<i class="fas fa-users"></i>-->
                <!--</span>-->
            <!--<p>多角色管理</p>-->
            <!--<p>-->
                <!--同一层级别的系统可根据不同岗位设置不同权限的账户实现岗责管理-->
            <!--</p>-->
        <!--</div>-->
        <!--<div class="col-lg-3 col-sm-6">-->
               <!--<span>-->
                    <!--<i class="fas fa-users-cog"></i>-->
                <!--</span>-->
            <!--<p>权限可定义</p>-->
            <!--<p>-->
                <!--系统权限采用角色控制严格控制业务操作权限-->
            <!--</p>-->
        <!--</div>-->
        <!--<div class="col-lg-3 col-sm-6">-->
               <!--<span>-->
                    <!--<i class="fas fa-video"></i>-->
                <!--</span>-->
            <!--<p>实时监控</p>-->
            <!--<p>-->
                <!--支持实时交易监控更好防范资金风险-->
            <!--</p>-->
        <!--</div>-->
    <!--</div>-->

    <!--大标题-->
    <div class="content-title">
        <p>
            成功案例
        </p>
        <p>SUCCESSFUL CASES</p>
    </div>
    <!--大标题结束-->
    <div class="cases-list text-center marginB">
        <div class="cases-list-li">
            <img th:src="@{/images/one.jpg}">
            <p>燕莎友谊商城</p>
        </div>

        <div class="cases-list-li">
            <img th:src="@{/images/two.jpg}">
            <p>贵友大厦</p>
        </div>

        <div class="cases-list-li">
            <img th:src="@{/images/sanbao.png}" >
            <p>新桥三宝乐面包店</p>
        </div>
    </div>

</div>
<!-- /.container -->
<div th:insert="~{footer :: copy}"></div>
<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>

</body>
</html>